# Build artifacts
.anchor/
target/
**/*.rs.bk
.DS_Store

# Node
node_modules/
.pnpm-store/
dist/
.next/
out/
.turbo/

# Env
.env
.env.local
.env*.local
.vercel

# Editor
.idea/
.vscode/

# Solana keypairs (NEVER commit)
*.json
!package.json
!tsconfig.json
!Anchor.toml.json
!.eslintrc.json
test-ledger/

# Logs
*.log
npm-debug.log*
